<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{ url_for( 'static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- https://www.daterangepicker.com/ -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <title>Flow Utazgatás</title>
</head>
<body>
  <p></p>
  <h1 class="text-center">Helló Helló Szia</h1>
  <p></p>
  <div class="container mx-auto" style="width: 85%">
    <form action="/getit" method="get" class="row g-3">
      <div class="form-group col-md-3 px-1">
	<label for="depart_range"><b>Indulás</b></label>
	<input type="text" name="depart_range" id="depart_range" class="form-control" />
	<script>
		$('input[name="depart_range"]').daterangepicker({
			"opens": "center",
			"autoApply": true,
			"startDate": "{{ depfrom }}",
			"endDate": "{{ depto }}",
			"locale": { "format": "MM.DD." },
		})
	</script>
      </div>
      <div class="form-group col-md-3 px-1">
	<label for="arrive_range"><b>Érkezés</b></label>
	<input type="text" name="arrive_range" id="arrive_range" class="form-control" />
	<script>
		$('input[name="arrive_range"]').daterangepicker({
			"opens": "center",
			"autoApply": true,
			"startDate": "{{ arrfrom }}",
			"endDate": "{{ arrto }}",
			"locale": { "format": "MM.DD." },
		})
	</script>
      </div>
      <div class="form-group col-md-2 px-1">
	<label for="cutoff"><b>Költség</b></label>
        <input type="text" name="cutoff" id="cutoff" value="{{ cutoff }}" class="form-control" />
      </div>
      <div class="form-group col-md-4 align-self-end d-flex justify-content-between px-1">
        <button type="submit" name="target" value="ryanair1" style="width: 33%" class="mr-2 px-2 btn btn-primary">Ryanair</button>
        <button type="submit" name="target" value="flixbus" style="width: 33%" class="mr-2 px-2 btn btn-primary">Flixbus</button>
        <button type="submit" name="target" value="wizzair2" style="width: 33%" class="px-2 btn btn-primary">Wizzair</button>
      </div>

      <!-- SECTION -->

      <div class="form-group col-md-4 px-1">
	<label for="interval"><b>Intervallum</b></label>
	<input type="text" name="interval" id="interval" class="form-control" />
	<script>
		$('input[name="interval"]').daterangepicker({
			"opens": "center",
			"autoApply": true,
			"startDate": "{{ intfrom }}",
			"endDate": "{{ intto }}",
			"locale": { "format": "MM.DD." },
		})
	</script>
      </div>
      <div class="form-group col-md-3 px-1">
        <label for="mindays"><b>Min. napok?</b></label>
        <input type="text" name="mindays" id="mindays" value="{{ mindays }}" class="form-control" />
      </div>
      <div class="form-group col-md-3 px-1">
        <label for="maxdays"><b>Max. napok?</b></label>
        <input type="text" name="maxdays" id="maxdays" value="{{ maxdays }}" class="form-control" />
      </div>
      <div class="form-group col-md-2 px-1 align-self-end">
        <button type="submit" name="target" value="holiday" class="w-100 mr-1 px-2 btn btn-primary">Tervezz!</button>
      </div>

      <!-- SECTION -->

      <div class="mx-3 form-check form-group col-md-12">
	<input type="checkbox" name="extended" id="extended" value="true" {{ extended }} class="form-check-input" />
        <label class="form-check-label" for="extended">Indulás Pozsonyból vagy Bécsből?</label>
      </div>
      <p></p>

      <!-- SECTION -->

      <div class="form-group col-md-12">
        <label for="maxdur">Maximum utazási idő órában (per út)?</label>
        <input type="text" name="maxdur" value="{{ maxdur }}" class="form-control" />
      </div>
      <div class="form-group col-md-12">
        <label for="maxtra">Maximum átszállások száma (per út)?</label>
        <input type="text" name="maxtra" value="{{ maxtra }}" class="form-control" />
      </div>

      <!-- SECTION -->

      <div class="form-group col-md-12">
        <label for="afterwork">Mikori indulást tudsz bevállalni meló után?</label>
        <input type="text" name="afterwork" value="{{ afterwork }}" class="form-control" />
      </div>
      <div class="form-group col-md-12 text-center">
        <button type="submit" name="target" value="magic_weekend" class="mw-50 btn btn-primary">
          <i>Magic: hétvégi út</i>
        </button>
      </div>
      <div class="form-group col-md-12 text-center">
        <button type="submit" name="target" value="magic_weekend_friday" class="mw-50 btn btn-primary">
          <i>Magic: hétvégi út + péntek</i>
        </button>
      </div>
      <div class="form-group col-md-12 text-center">
        <button type="submit" name="target" value="magic_weekend_monday" class="mw-50 btn btn-primary">
          <i>Magic: hétvégi út + hétfő</i>
        </button>
      </div>

    </form>
  </div>
</body>
</html>
