<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Flow Utazgatás</title>
</head>
<body>
  <div class="container">
    <p></p>
    <h1>Helló helló szia</h1>
    <p>
    Ez a weboldal a béta verziója az olcsó utazásokat szervezős programomnak.<br>
    Később eskü szebb lesz de túl lusta vagyok szép dolgokat alkotni.
    </p>
    <form action="/getit" method="get">
      <h2>Mikor mennél?</h2>
      <div class="form-group">
        <label for="depart_from"><b>Legkorábbi</b> időpont mikor <b>elindulnál</b>?</label>
        <input type="text" name="depart_from"
               placeholder="Például: 2024.09.23." class="form-control"
               value="2024.09.23."></input>
      </div>
      <div class="form-group">
        <label for="depart_to"><b>Legkésőbbi</b> időpont mikor <b>elindulnál</b>?</label>
        <input type="text" name="depart_to"
               placeholder="Például: 2024.09.24." class="form-control"
               value="2024.09.24."></input>
      </div>
      <div class="form-group">
        <label for="arrive_from"><b>Legkorábbi</b> időpont mikor <b>érkeznél?</b></label>
        <input type="text" name="arrive_from"
               placeholder="Például: 2024.09.27." class="form-control"
               value="2024.09.27."></input>
      </div>
      <div class="form-group">
        <label for="arrive_to"><b>Legkésőbbi</b> időpont mikor <b>érkeznél</b>?</label>
        <input type="text" name="arrive_to"
               placeholder="Például: 2024.09.28." class="form-control"
               value="2024.09.28."></input>
      </div>
      <h2>Ryanair</h2>
      <div class="form-group">
        <label for="ryanair_cutoff">Maximum költség forintban (oda-vissza)?</label>
        <input type="text" name="ryanair_cutoff"
               placeholder="Például: 40000" class="form-control"
               value="40000"></input>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="extended" value="yes" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Indulás Pozsonyból vagy Bécsből?
        </label>
      </div>
      <p></p>
      <div class="form-group">
        <button type="submit" name="target" value="ryanair" class="btn btn-primary">Submit</button>
      </div>
      <h2>Flixbus</h2>
      <div class="form-group">
        <label for="flixbus_cutoff">Maximum költség forintban (per utazás)?</label>
        <input type="text" name="flixbus_cutoff"
               placeholder="Például: 20000" class="form-control"
               value="20000"></input>
      </div>
      <div class="form-group">
        <label for="max_dur">Maximum utazási idő órában?</label>
        <input type="text" name="max_dur"
               placeholder="Például: 10" class="form-control"
               value="10"></input>
      </div>
      <!-- TODO: Max number of transfers? -->
      <div class="form-group">
        <button type="submit" name="target" value="flixbus" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</body>
</html>
